In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Iterations\\Iter1\\1.1\\gemini_label_1.xlsx')

In [4]:
df1

,id,text,label,dataset_type,predict_label,gemini_label
0,32375,Tôi không hiểu sao lại để vậy.,0,train,1,0
1,5553,Không biết tốt xấu! Chất phát như nào nhưng ng...,1,train,0,1
2,7102,con này thực sự nó giống như con thú nhô...,1,train,0,3
3,43278,chuyện đời cộng sản lưu vong (7) ***** 21) mườ...,1,train,0,1
4,6289,Cái quần in hệt cái ý thức,1,train,0,1
...,...,...,...,...,...,...
870,3172,Lê Thanh Tâm mấy anh trên núi tởm thậttt,1,train,0,1
871,29230,Tuổi thơ của tôi đã tưng như thế này . :),0,train,1,0
872,2664,Bú bóng cao su ha gì cười ghê z abe :)),1,train,0,0
873,38120,".."" Tiền không được trả lại",1,train,0,0
874,5496,Nhìn chúng nó cmt mà đắng bạn à =))))))),0,train,1,0

In [3]:
df2 = pd.read_excel('Iterations\\Iter1\\1.1\\gemini_label_2.xlsx')

In [5]:
df2

,id,text,label,dataset_type,predict_label,gemini_label
0,42618,phòng khám đa khoa hùng vương - sơn dương (tuy...,0,train,1,0
1,6341,Theo mình thì treo cổ lên chứ đừng nguyền rủa....,1,train,0,1
2,39078,quán phở gạc ma trường sa có lẽ người việt nam...,0,train,1,0
3,19567,"Vay rồi bán đảo , bán biển , bán sinh mạng của...",0,train,1,1
4,44115,"Tuy nhiên, họ không ngờ rằng ngay từ đầu, thằ...",1,train,0,3
...,...,...,...,...,...,...
870,135,3k và 38 người. Con số đã nói lên tất cả. Tỉ l...,1,train,0,1
871,6077,Xương máu của đồng chí mà chúng nó còn trục lợ...,1,train,0,1
872,17493,Đá phò nào chứ trừ con phò này nha :)))),0,train,1,1
873,18703,ua roi cai nut xac nhan dau,0,train,1,0
874,36365,"Ông bố Hà Nội hỏi con mình: ""Thế con yêu ai nh...",1,train,0,2

In [8]:
df = pd.concat([df1, df2])

In [10]:
df = df.reset_index(drop=True)

In [12]:
df

,id,text,label,dataset_type,predict_label,gemini_label
0,32375,Tôi không hiểu sao lại để vậy.,0,train,1,0
1,5553,Không biết tốt xấu! Chất phát như nào nhưng ng...,1,train,0,1
2,7102,con này thực sự nó giống như con thú nhô...,1,train,0,3
3,43278,chuyện đời cộng sản lưu vong (7) ***** 21) mườ...,1,train,0,1
4,6289,Cái quần in hệt cái ý thức,1,train,0,1
...,...,...,...,...,...,...
1745,135,3k và 38 người. Con số đã nói lên tất cả. Tỉ l...,1,train,0,1
1746,6077,Xương máu của đồng chí mà chúng nó còn trục lợ...,1,train,0,1
1747,17493,Đá phò nào chứ trừ con phò này nha :)))),0,train,1,1
1748,18703,ua roi cai nut xac nhan dau,0,train,1,0
1749,36365,"Ông bố Hà Nội hỏi con mình: ""Thế con yêu ai nh...",1,train,0,2

In [32]:
df.dtypes

id                int64
text             object
label             int64
dataset_type     object
predict_label     int64
gemini_label     object
dtype: object

In [27]:
def convert_label(value):
    if value == '0' or value == '1':
        return int(value)
    return value

df['gemini_label'] = df['gemini_label'].apply(convert_label)

In [36]:
df['gemini_label']

0       0
1       1
2       0
3       1
4       1
       ..
2495    0
2496    1
2497    0
2498    0
2499    0
Name: gemini_label, Length: 2500, dtype: object

In [31]:
df['check'] = (df['gemini_label'] != df['label'])

In [26]:
df.dtypes

id                int64
text             object
label             int64
dataset_type     object
predict_label     int64
gemini_label     object
check              bool
dtype: object

In [32]:
df['check']

0       False
1       False
2        True
3       False
4       False
        ...
1745    False
1746    False
1747     True
1748    False
1749     True
Name: check, Length: 1750, dtype: bool

In [33]:
df

,id,text,label,dataset_type,predict_label,gemini_label,check
0,32375,Tôi không hiểu sao lại để vậy.,0,train,1,0,False
1,5553,Không biết tốt xấu! Chất phát như nào nhưng ng...,1,train,0,1,False
2,7102,con này thực sự nó giống như con thú nhô...,1,train,0,3,True
3,43278,chuyện đời cộng sản lưu vong (7) ***** 21) mườ...,1,train,0,1,False
4,6289,Cái quần in hệt cái ý thức,1,train,0,1,False
...,...,...,...,...,...,...,...
1745,135,3k và 38 người. Con số đã nói lên tất cả. Tỉ l...,1,train,0,1,False
1746,6077,Xương máu của đồng chí mà chúng nó còn trục lợ...,1,train,0,1,False
1747,17493,Đá phò nào chứ trừ con phò này nha :)))),0,train,1,1,True
1748,18703,ua roi cai nut xac nhan dau,0,train,1,0,False
1749,36365,"Ông bố Hà Nội hỏi con mình: ""Thế con yêu ai nh...",1,train,0,2,True

In [34]:
df.to_excel('Iterations\\Iter1\\1.1\\gemini_label_fixed.xlsx', index=False)