In [1]:
import pandas as pd

0 => Non-toxic 
1 => Toxic

# **ViHOS**

In [31]:
vihos_train = pd.read_csv('data\\ViHOS\\train.csv')
vihos_dev = pd.read_csv('data\\ViHOS\\dev.csv')
vihos_test = pd.read_csv('data\\ViHOS\\test.csv')

In [32]:
vihos_train.head()

,Unnamed: 0,content,index_spans
0,0,Dừa lắm :)),[]
1,1,Bấp bênh vl thế,"[9, 10]"
2,2,Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...,"[53, 54, 55]"
3,3,Thấy chán ad page này kiến thức thì nông cản c...,"[5, 6, 7, 8, 36, 37, 38, 39, 40, 41, 42, 43, 6..."
4,4,Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa,[]

In [33]:
vihos_dev.head()

,Unnamed: 0,content,index_spans
0,0,"Cs cha , Cs con , Rận cha, Rận con ...ai đúng ...","[0, 1, 9, 10, 18, 19, 20, 27, 28, 29, 94, 95, 96]"
1,1,Long Duy Đào cái tội ớ,[]
2,2,Nói gì tào lao kg,"[7, 8, 9, 10, 11, 12, 13]"
3,3,Cc thầy eie,"[0, 1]"
4,4,Chả làm gì cũng có fan cứng =)),[]

In [34]:
vihos_test.head()

,Unnamed: 0,content,index_spans
0,0,Anh bar .,[]
1,1,Hello thầy,[]
2,2,Từ lúc mấy bro cmt cực kì cl gì đấy là rất khó...,"[26, 27]"
3,3,Nghe trần dần thấy cười đau cả bụng,[]
4,4,Idol tui có khác. Phải v chứ ai như cái con ph...,"[40, 41, 42, 43, 44, 45, 46, 64, 65, 67, 68, 7..."

In [35]:
def reformat(df: pd.DataFrame, dataset_type: str):
    df = df.drop(columns=['Unnamed: 0'], axis=1)
    df['label'] = df['index_spans'].apply(lambda x: 1 if x != '[]' else 0)
    df.drop(columns=['index_spans'], inplace=True)
    df.rename(columns={'content': 'text'}, inplace=True)
    df['dataset_type'] = dataset_type
    return df

In [36]:
vihos_train = reformat(vihos_train, 'train')
vihos_dev = reformat(vihos_dev, 'dev')
vihos_test = reformat(vihos_test, 'test')

In [37]:
vihos_dev.head()

                                                text  label dataset_type
0  Cs cha , Cs con , Rận cha, Rận con ...ai đúng ...      1          dev
1                             Long Duy Đào cái tội ớ      0          dev
2                                  Nói gì tào lao kg      1          dev
3                                        Cc thầy eie      1          dev
4                    Chả làm gì cũng có fan cứng =))      0          dev

In [38]:
vihos_train.head()

                                                text  label dataset_type
0                                        Dừa lắm :))      0        train
1                                    Bấp bênh vl thế      1        train
2  Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...      1        train
3  Thấy chán ad page này kiến thức thì nông cản c...      1        train
4       Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa      0        train

In [78]:
final_df = pd.concat([vihos_train, vihos_dev, vihos_test], ignore_index= True)

In [79]:
final_df

                                                    text  label dataset_type
0                                            Dừa lắm :))      0        train
1                                        Bấp bênh vl thế      1        train
2      Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...      1        train
3      Thấy chán ad page này kiến thức thì nông cản c...      1        train
4           Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa      0        train
...                                                  ...    ...          ...
11051  từ dịch này thấy ý thức người nhật xăng đổ nửa...      1         test
11052  Đang nói chuyện này cái ổng bẻ lái qua chuyện ...      0         test
11053  Ôi trời giai cấp lđ ở ta thì đổi trắng thay đe...      1         test
11054                                     Đéo ai làm thế      1         test
11055  mấy ông học FPT lấy ý tưởng mà làm đồ án nè, b...      0         test

[11056 rows x 3 columns]

# **ViHSD**

In [52]:
vihsd_train = pd.read_csv('data\\vihsd\\vihsd\\train.csv')
vihsd_dev = pd.read_csv('data\\vihsd\\vihsd\\dev.csv')
vihsd_test = pd.read_csv('data\\vihsd\\vihsd\\test.csv')

In [53]:
vihsd_train.head()

                                           free_text  label_id
0  Em được làm fan cứng luôn rồi nè ❤️ reaction q...         0
1  Đúng là bọn mắt híp lò xo thụt :))) bên việt n...         2
2           Đậu Văn Cường giờ giống thằng sida hơn à         0
3  CÔN ĐỒ CỤC SÚC VÔ NHÂN TÍNH ĐỀ NGHI VN. NHÀ NƯ...         2
4  Từ lý thuyết đến thực hành là cả 1 câu chuyện ...         0

In [54]:
vihsd_dev.head()

                                           free_text  label_id
0                                       Coi cười xỉu         0
1                    Chi ba vang ngoc dep va tre mai         0
2  Chần vần một đống, không ai đoán trước được đừ...         0
3                              Du học sinh Úc mà lại         0
4  Dm báo lá cải.. Nghĩ gì khi ở qn mà có hơn 30%...         0

In [55]:
vihsd_test.head()

                                           free_text  label_id
0                   Đừng cố biện minh =)))) choi lon         0
1                    Haizz. Nthe này thì dân khổ quá         1
2  the nay ma chi phat gay roi trat tu cong cong ...         0
3              Mua cho em hộp bcs mĩ sài cho oai :))         0
4                                       coin card :3         1

In [56]:
def reformat_vihsd(df: pd.DataFrame, dataset_type: str):
    df['label'] = df['label_id'].apply(lambda x: 0 if x == 0 else 1)
    df.drop(columns=['label_id'], inplace=True)
    df.rename(columns={'free_text': 'text'}, inplace=True)
    df['dataset_type'] = dataset_type
    return df

In [57]:
vihsd_train = reformat_vihsd(vihsd_train, 'train')
vihsd_dev = reformat_vihsd(vihsd_dev, 'dev')
vihsd_test = reformat_vihsd(vihsd_test, 'test')

In [63]:
vihsd_train

                                                    text  label dataset_type
0      Em được làm fan cứng luôn rồi nè ❤️ reaction q...      0        train
1      Đúng là bọn mắt híp lò xo thụt :))) bên việt n...      1        train
2               Đậu Văn Cường giờ giống thằng sida hơn à      0        train
3      CÔN ĐỒ CỤC SÚC VÔ NHÂN TÍNH ĐỀ NGHI VN. NHÀ NƯ...      1        train
4      Từ lý thuyết đến thực hành là cả 1 câu chuyện ...      0        train
...                                                  ...    ...          ...
24043                  Thả tim cho sự cống hiến của ngài      0        train
24044                                             Thua !      0        train
24045  Ở Việt Nam thì có khánh sky..hải ngoại có trần...      0        train
24046    1:22 ai lớp du chu cờ moo, Duyên dáng quá cô ơi      0        train
24047  Cụ này mắt mới cắt mý sao ta kkk đấy vnch đấy ...      0        train

[24048 rows x 3 columns]

In [59]:
vihsd_dev.head()

                                                text  label dataset_type
0                                       Coi cười xỉu      0          dev
1                    Chi ba vang ngoc dep va tre mai      0          dev
2  Chần vần một đống, không ai đoán trước được đừ...      0          dev
3                              Du học sinh Úc mà lại      0          dev
4  Dm báo lá cải.. Nghĩ gì khi ở qn mà có hơn 30%...      0          dev

In [60]:
vihsd_test.head()

                                                text  label dataset_type
0                   Đừng cố biện minh =)))) choi lon      0         test
1                    Haizz. Nthe này thì dân khổ quá      1         test
2  the nay ma chi phat gay roi trat tu cong cong ...      0         test
3              Mua cho em hộp bcs mĩ sài cho oai :))      0         test
4                                       coin card :3      1         test

In [80]:
final_df = pd.concat([final_df, vihsd_train, vihsd_dev, vihsd_test], ignore_index= True)

In [81]:
final_df

                                                    text  label dataset_type
0                                            Dừa lắm :))      0        train
1                                        Bấp bênh vl thế      1        train
2      Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...      1        train
3      Thấy chán ad page này kiến thức thì nông cản c...      1        train
4           Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa      0        train
...                                                  ...    ...          ...
44451                Nghe cũng được. Nhưng vẫn cày views      0         test
44452  Pha team up căng cực đến từ vị trí ông chủ đầm...      0         test
44453  Thanh Nhường sao m đọc đc cmt của t thế tiên s...      0         test
44454  Đúng rồi, nhìn có ria mép , với mặt giống đàn ...      0         test
44455  Chưa chắc Mỹ bị nhiễm virus corona Vũ hán (của...      0         test

[44456 rows x 3 columns]

# **ViCTSD**

In [69]:
victsd_train = pd.read_csv('data\ViCTSD\ViCTSD_train.csv')
victsd_dev = pd.read_csv('data\ViCTSD\ViCTSD_valid.csv')
victsd_test = pd.read_csv('data\ViCTSD\ViCTSD_test.csv')

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:2: SyntaxWarning: invalid escape sequence '\V'
<>:3: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:2: SyntaxWarning: invalid escape sequence '\V'
<>:3: SyntaxWarning: invalid escape sequence '\V'
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1767128949.py:1: SyntaxWarning: invalid escape sequence '\V'
  victsd_train = pd.read_csv('data\ViCTSD\ViCTSD_train.csv')
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1767128949.py:2: SyntaxWarning: invalid escape sequence '\V'
  victsd_dev = pd.read_csv('data\ViCTSD\ViCTSD_valid.csv')
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1767128949.py:3: SyntaxWarning: invalid escape sequence '\V'
  victsd_test = pd.read_csv('data\ViCTSD\ViCTSD_test.csv')

In [70]:
victsd_train.head()

,Unnamed: 0,Comment,Constructiveness,Toxicity,Title,Topic
0,6326,Thật tuyệt vời...!!!,0,0,Những 'bước tiến diệu kỳ' của Trúc Nhi - Diệu Nhi,SucKhoe
1,7835,"mỹ đã tuột dốc quá nhiều rồi, giờ muốn vực dậy...",1,0,Hình tượng Mỹ sụp đổ trong lòng người dân thế ...,TheGioi
2,4690,tôi thấy người lái xe hơi bấm còi mới là người...,1,1,Cả trăm người đạp xe thể dục bịt kín đường,OtoXemay
3,6011,Coi dịch là giặc. Đã mang tên đó mà xâm nhập V...,0,0,11 ngày không lây nhiễm nCoV cộng đồng,SucKhoe
4,9303,Thương các bé quá! Các con còn quá nhỏ mà đã p...,0,0,5 trẻ chết đuối dưới ao,ThoiSu

In [71]:
def reformat_victsd(df: pd.DataFrame, dataset_type: str):
    df.drop(axis= 1, columns= ['Unnamed: 0', 'Constructiveness', 'Title', 'Topic'], inplace= True)
    df.rename(columns= {'Comment': 'text', 'Toxicity': 'label'}, inplace= True)
    df['dataset_type'] = dataset_type
    return df

In [72]:
victsd_train = reformat_victsd(victsd_train, 'train')
victsd_dev = reformat_victsd(victsd_dev, 'dev')
victsd_test = reformat_victsd(victsd_test, 'test')

In [73]:
victsd_train.head()

                                                text  label dataset_type
0                               Thật tuyệt vời...!!!      0        train
1  mỹ đã tuột dốc quá nhiều rồi, giờ muốn vực dậy...      0        train
2  tôi thấy người lái xe hơi bấm còi mới là người...      1        train
3  Coi dịch là giặc. Đã mang tên đó mà xâm nhập V...      0        train
4  Thương các bé quá! Các con còn quá nhỏ mà đã p...      0        train

In [74]:
victsd_test.head()

                                                text  label dataset_type
0                 Người ăn không hết kẻ lần chẳng ra      1         test
1    Nhiều người cứ nghĩ đạp xe là văn minh. haizzzz      1         test
2                                        Rất văn hoá      0         test
3  Đời ta ba mươi đời nó. Mua chiếc xe cũng chỉ p...      0         test
4  Tước bằng lái vĩnh viễn đi. Chạy lếu láo thật,...      1         test

In [75]:
victsd_train.head()

                                                text  label dataset_type
0                               Thật tuyệt vời...!!!      0        train
1  mỹ đã tuột dốc quá nhiều rồi, giờ muốn vực dậy...      0        train
2  tôi thấy người lái xe hơi bấm còi mới là người...      1        train
3  Coi dịch là giặc. Đã mang tên đó mà xâm nhập V...      0        train
4  Thương các bé quá! Các con còn quá nhỏ mà đã p...      0        train

In [82]:
final_df = pd.concat([final_df, victsd_train, victsd_dev, victsd_test], ignore_index= True)

In [83]:
final_df

                                                    text  label dataset_type
0                                            Dừa lắm :))      0        train
1                                        Bấp bênh vl thế      1        train
2      Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...      1        train
3      Thấy chán ad page này kiến thức thì nông cản c...      1        train
4           Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa      0        train
...                                                  ...    ...          ...
54451  biệt thự nhà riêng to đùng thế kia mà chủ (hay...      1         test
54452  Trong cái khó ló cái khôn, người tài thật sự k...      0         test
54453  Bánh trung thu sao lại phải có quả trứng muối ...      0         test
54454  Cấp 1 nói chung và lớp 1 nói riêng theo tôi có...      0         test
54455                               Tôi thấy hay đó chứ.      0         test

[54456 rows x 3 columns]

# **Phản động dataset**

In [99]:
pd_train = pd.read_csv('data\phan-dong\\train_data.csv')
pd_dev = pd.read_csv('data\phan-dong\\valid_data.csv')
pd_test = pd.read_csv('data\phan-dong\\test_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1725237283.py:1: SyntaxWarning: invalid escape sequence '\p'
  pd_train = pd.read_csv('data\phan-dong\\train_data.csv')
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1725237283.py:2: SyntaxWarning: invalid escape sequence '\p'
  pd_dev = pd.read_csv('data\phan-dong\\valid_data.csv')
C:\Users\acer\AppData\Local\Temp\ipykernel_14144\1725237283.py:3: SyntaxWarning: invalid escape sequence '\p'
  pd_test = pd.read_csv('data\phan-dong\\test_data.csv')

In [101]:
pd_train.head()

,Unnamed: 0.1,Unnamed: 0,url,content,label,checked,content_normalize,length,combine_text,text,text_split
0,935,935,https://www.facebook.com/RFIvi/posts/pfbid0Fq2...,crimée bị sáp nhập sự ra đời của chủ nghĩa đế ...,0,log,crim e b s p nh p s ra i c a ch ngh a qu c nga...,50,['crimée bị sáp_nhập sự ra_đời của chủ_nghĩa_đ...,crimée bị sáp_nhập sự ra_đời của chủ_nghĩa_đế_...,"['crimée', 'bị', 'sáp_nhập', 'sự', 'ra_đời', '..."
1,2128,2128,https://www.facebook.com/vtcnewsvn/posts/pfbid...,góc ý kiến: nhiều người 'đi làm như đi chơi' n...,0,Chính phủ,g c ki n nhi u ng i i l m nh i ch i nh ng c i ...,253,['góc ý_kiến : nhiều người \' đi làm như đi ch...,góc ý_kiến nhiều người đi làm như đi chơi ...,"['góc', 'ý_kiến', 'nhiều', 'người', 'đi', 'làm..."
2,3602,3602,NaN,sự kiện formosa đứng đầu các vụ gây ô nhiễm nă...,1,GPT,s ki n formosa ng u c c v g y nhi m n m th t l...,104,['sự_kiện formosa đứng đầu các vụ gây ô_nhiễm ...,sự_kiện formosa đứng đầu các vụ gây ô_nhiễm nă...,"['sự_kiện', 'formosa', 'đứng', 'đầu', 'các', '..."
3,147,147,https://www.facebook.com/viettan/posts/pfbid0f...,minh bạch thị trường nhà đất hay khua chiêng t...,1,log,minh b ch th tr ng nh t hay khua chi ng t u t ...,224,['minh_bạch thị_trường nhà_đất hay khua chiêng...,minh_bạch thị_trường nhà_đất hay khua chiêng t...,"['minh_bạch', 'thị_trường', 'nhà_đất', 'hay', ..."
4,2703,2703,https://www.facebook.com/tintucvtv24/videos/25...,"lần đầu tiên sau gần 40 năm, việt nam chính th...",0,Chính phủ,l n u ti n sau g n n m vi t nam ch nh th c c t...,135,"['lần đầu_tiên sau gần 40 năm , việt_nam chính...",lần đầu_tiên sau gần năm việt_nam chính_t...,"['lần', 'đầu_tiên', 'sau', 'gần', 'năm', 'việt..."

In [102]:
pd_dev.head()

,Unnamed: 0.1,Unnamed: 0,url,content,label,checked,content_normalize,length,combine_text,text,text_split
0,507,507,https://www.facebook.com/nhanvangiaiphamvn/pos...,"trần kỳ khôi: giáo dục xhcn và những ""tấm gươn...",1,Kat,tr n k kh i gi o d c xhcn v nh ng t m g ng i n...,1517,"['trần kỳ_khôi : giáo_dục xhcn và những "" tấm ...",trần kỳ_khôi giáo_dục xhcn và những tấm gư...,"['trần', 'kỳ_khôi', 'giáo_dục', 'xhcn', 'và', ..."
1,928,928,https://www.facebook.com/baovietnam2016/posts/...,quang linh vlog liên tiếp gặp sự cố trong nhữn...,0,log,quang linh vlog li n ti p g p s c trong nh ng ...,99,['quang linh vlog liên_tiếp gặp sự_cố trong nh...,quang linh vlog liên_tiếp gặp sự_cố trong nhữn...,"['quang', 'linh', 'vlog', 'liên_tiếp', 'gặp', ..."
2,2487,2487,https://www.facebook.com/tintucvtv24/posts/pfb...,"độc đáo và đầy bất ngờ, giờ đây khách du lịch ...",0,Chính phủ,c o v y b t ng gi y kh ch du l ch n tokyo nh ...,186,"['độc_đáo và đầy bất_ngờ , giờ_đây khách du_lị...",độc_đáo và đầy bất_ngờ giờ_đây khách du_lịch...,"['độc_đáo', 'và', 'đầy', 'bất_ngờ', 'giờ_đây',..."
3,3336,3336,https://www.facebook.com/BBCnewsVietnamese/pos...,"""-cha và mẹ của ông ảnh hưởng thế nào đến cuộ...",0,QD,cha v m c a ng nh h ng th n o n cu c s ng c a...,160,"['"" - cha và mẹ của ông ảnh_hưởng thế_nào đến ...",cha và mẹ của ông ảnh_hưởng thế_nào đến cu...,"['cha', 'và', 'mẹ', 'của', 'ông', 'ảnh_hưởng',..."
4,1901,1901,https://www.facebook.com/baodantridientu/posts...,"cổ đông đặt vấn đề ""bỏ trứng vào một giỏ"" với ...",0,Chính phủ,c ng t v n b tr ng v o m t gi v i l nh o h a p...,37,"['cổ_đông đặt vấn_đề "" bỏ trứng vào một giỏ "" ...",cổ_đông đặt vấn_đề bỏ trứng vào một giỏ vớ...,"['cổ_đông', 'đặt', 'vấn_đề', 'bỏ', 'trứng', 'v..."

In [103]:
pd_test.head()

,Unnamed: 0.1,Unnamed: 0,url,content,label,checked,content_normalize,length,combine_text,text,text_split
0,723,723,https://www.facebook.com/RFIvi/posts/pfbid0386...,khách tham quan muốn leo núi phú sĩ ở nhật bản...,0,Kat,kh ch tham quan mu n leo n i ph s nh t b n s p...,57,['khách tham_quan muốn leo núi phú sĩ ở nhật_b...,khách tham_quan muốn leo núi phú sĩ ở nhật_bản...,"['khách', 'tham_quan', 'muốn', 'leo', 'núi', '..."
1,1885,1885,https://www.facebook.com/baodantridientu/posts...,"hà nội yêu cầu các quận, huyện, thị xã nghiên ...",0,Chính phủ,h n i y u c u c c qu n huy n th x nghi n c u t...,28,"['hà_nội yêu_cầu các quận , huyện , thị_xã ngh...",hà_nội yêu_cầu các quận huyện thị_xã nghiê...,"['hà_nội', 'yêu_cầu', 'các', 'quận', 'huyện', ..."
2,3522,3522,https://www.facebook.com/BBCnewsVietnamese/pos...,những người ủng hộ ông recep tayyip erdogan đã...,0,DMN,nh ng ng i ng h ng recep tayyip erdogan n m ng...,87,['những người ủng_hộ ông recep tayyip erdogan ...,những người ủng_hộ ông recep tayyip erdogan đã...,"['những', 'người', 'ủng_hộ', 'ông', 'recep', '..."
3,3363,3363,https://www.facebook.com/BBCnewsVietnamese/pos...,barbie tôn vinh nhà khoa học vũ trụ ts maggie ...,0,QD,barbie t n vinh nh khoa h c v tr ts maggie ade...,66,['barbie tôn_vinh nhà_khoa_học vũ_trụ ts maggi...,barbie tôn_vinh nhà_khoa_học vũ_trụ ts maggie ...,"['barbie', 'tôn_vinh', 'nhà_khoa_học', 'vũ_trụ..."
4,1762,1762,https://www.facebook.com/vtcnewsvn/posts/pfbid...,bộ thông tin và truyền thông thanh tra toàn di...,0,Chính phủ,b th ng tin v truy n th ng thanh tra to n di n...,100,['bộ thông_tin và truyền_thông thanh_tra toàn_...,bộ thông_tin và truyền_thông thanh_tra toàn_di...,"['bộ', 'thông_tin', 'và', 'truyền_thông', 'tha..."

In [104]:
def phan_dong_reformat(df: pd.DataFrame, dataset_type: str):
    df.drop(axis= 1, columns= ['Unnamed: 0', 'Unnamed: 0.1', 'url', 'checked', 'content_normalize', 'length', 'combine_text', 'text', 'text_split'], inplace= True)
    df.rename(columns= {'content': 'text'}, inplace= True)
    df['dataset_type'] = dataset_type
    return df

In [105]:
pd_train = phan_dong_reformat(pd_train, 'train')
pd_dev = phan_dong_reformat(pd_dev, 'dev')
pd_test = phan_dong_reformat(pd_test, 'test')

In [106]:
pd_train

                                                   text  label dataset_type
0     crimée bị sáp nhập sự ra đời của chủ nghĩa đế ...      0        train
1     góc ý kiến: nhiều người 'đi làm như đi chơi' n...      0        train
2     sự kiện formosa đứng đầu các vụ gây ô nhiễm nă...      1        train
3     minh bạch thị trường nhà đất hay khua chiêng t...      1        train
4     lần đầu tiên sau gần 40 năm, việt nam chính th...      0        train
...                                                 ...    ...          ...
3011  Việt Nam, đất nước đầy những vết thương đẫm má...      1        train
3012  ukraine từ chối trung quốc viện trợ trước sự p...      0        train
3013  đi lính mà thế này đây! cha mẹ nên xem để biết...      0        train
3014  dịp hiếm ngắm nhìn chim uyên ương khi du xuân ...      0        train
3015  việt nam: rò rỉ tài liệu đảng cộng sản cảnh bá...      1        train

[3016 rows x 3 columns]

In [107]:
pd_test.head()

                                                text  label dataset_type
0  khách tham quan muốn leo núi phú sĩ ở nhật bản...      0         test
1  hà nội yêu cầu các quận, huyện, thị xã nghiên ...      0         test
2  những người ủng hộ ông recep tayyip erdogan đã...      0         test
3  barbie tôn vinh nhà khoa học vũ trụ ts maggie ...      0         test
4  bộ thông tin và truyền thông thanh tra toàn di...      0         test

In [108]:
pd_test.head()

                                                text  label dataset_type
0  khách tham quan muốn leo núi phú sĩ ở nhật bản...      0         test
1  hà nội yêu cầu các quận, huyện, thị xã nghiên ...      0         test
2  những người ủng hộ ông recep tayyip erdogan đã...      0         test
3  barbie tôn vinh nhà khoa học vũ trụ ts maggie ...      0         test
4  bộ thông tin và truyền thông thanh tra toàn di...      0         test

In [109]:
def chunk_into_4_sentence(text: str):
    # print(text)
    sentences = text.split('.')
    res = []
    for i in range(0, len(sentences), 3):
        res.append('.'.join(sentences[i: i + 3]))
        if len(res) == 10:
            break 
    return res

tmp = chunk_into_4_sentence(pd_train.loc[0, 'text'])
print(tmp)
print(len(tmp))

['crimée bị sáp nhập sự ra đời của chủ nghĩa đế quốc nga mới mười năm trước, gần như không cần phát súng nào, liên bang nga đã chiếm được bán đảo crimée từ tay ukraina chỉ trong vòng 3 tuần. với vụ sáp nhập ngoạn mục này, vladimir putin thực sự thách thức phương tây, lúc đó vừa bàng quan, vừa bất lực.']
1

In [110]:

def create_chunk_df(df: pd.DataFrame):
    text_col = []
    label_col = [] 
    dataset_type_col = []
    for index, row in df.iterrows():
        label = row['label']  
        chunks = chunk_into_4_sentence(row['text'])
        dataset_type = row['dataset_type']
        for chunk in chunks:
            if chunk == ' ' or chunk == '': continue
            text_col.append(chunk)
            label_col.append(label)
            dataset_type_col.append(dataset_type)
        # print(index)
    return pd.DataFrame({'text': text_col, 'label': label_col, 'dataset_type': dataset_type_col})

In [111]:
pd_train = create_chunk_df(pd_train)
pd_dev = create_chunk_df(pd_dev)
pd_test = create_chunk_df(pd_test)

In [112]:
pd_train

                                                   text  label dataset_type
0     crimée bị sáp nhập sự ra đời của chủ nghĩa đế ...      0        train
1     góc ý kiến: nhiều người 'đi làm như đi chơi' n...      0        train
2      sau khi “check-in” ở trụ sở công ty, tôi phải...      0        train
3      chị nhân viên hành chính lâu lâu lại "mát mẻ"...      0        train
4      và liên tục than vãn, tỏ ra bất mãn vì chỉ đư...      0        train
...                                                 ...    ...          ...
9653  nh cho không ăn được luôn. cảnh báo: video có ...      0        train
9654  dịp hiếm ngắm nhìn chim uyên ương khi du xuân ...      0        train
9655  việt nam: rò rỉ tài liệu đảng cộng sản cảnh bá...      1        train
9656   điều không thay đổi là sự kìm kẹp sắt đá của ...      1        train
9657   được bộ chính trị việt nam ban hành vào tháng...      1        train

[9658 rows x 3 columns]

In [113]:
pd_dev

                                                   text  label dataset_type
0     trần kỳ khôi: giáo dục xhcn và những "tấm gươn...      1          dev
1      từ ngài chủ tịch hội đồng trường đại học kinh...      1          dev
2      đoàn xuân tiếp sinh năm 1950, quê gia bình, b...      1          dev
3      tích lũy được một số vốn liếng, tiếp hùn hạp ...      1          dev
4      sau đó ông tiếp ly hôn người vợ mấy chục năm ...      1          dev
...                                                 ...    ...          ...
6074  “tôi tuyển dụng bao giờ cũng phải nghiên cứu h...      0          dev
6075                                         ly/3zqbx1q      0          dev
6076  vụ 4 nữ tiếp viên buôn kem đánh răng ngày 06 t...      0          dev
6077   dưới đây là tổng hợp một số ý kiến của cộng đ...      0          dev
6078   vài hôm nữa lại có vụ mấy em lơ máy bay xách ...      0          dev

[6079 rows x 3 columns]

In [114]:
pd_test

                                                   text  label dataset_type
0     khách tham quan muốn leo núi phú sĩ ở nhật bản...      0         test
1      thành phố trên nước venise tại ý thu 5 euro '...      0         test
2     hà nội yêu cầu các quận, huyện, thị xã nghiên ...      0         test
3     những người ủng hộ ông recep tayyip erdogan đã...      0         test
4      lãnh đạo phe đối lập không thừa nhận mình rõ ...      0         test
...                                                 ...    ...          ...
5929   trong trường hợp này, theo ls. khanh, bà hằng...      0         test
5930   bà cũng không ít lần chỉ trích nặng nề những ...      0         test
5931   “bà nguyễn phương hằng có nhiều biểu hiện đã ...      0         test
5932   vũ đức khanh nói. bà nguyễn phương hằng bắt đ...      0         test
5933  .. trước khi bị bắt, bà nguyễn phương hằng đã ...      0         test

[5934 rows x 3 columns]

In [115]:
final_df = pd.concat([final_df, pd_train, pd_dev, pd_test], ignore_index= True)

In [116]:
final_df

                                                    text  label dataset_type
0                                            Dừa lắm :))      0        train
1                                        Bấp bênh vl thế      1        train
2      Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...      1        train
3      Thấy chán ad page này kiến thức thì nông cản c...      1        train
4           Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa      0        train
...                                                  ...    ...          ...
76122   trong trường hợp này, theo ls. khanh, bà hằng...      0         test
76123   bà cũng không ít lần chỉ trích nặng nề những ...      0         test
76124   “bà nguyễn phương hằng có nhiều biểu hiện đã ...      0         test
76125   vũ đức khanh nói. bà nguyễn phương hằng bắt đ...      0         test
76126  .. trước khi bị bắt, bà nguyễn phương hằng đã ...      0         test

[76127 rows x 3 columns]

# **Split**

In [134]:
final_df.reset_index(inplace= True)

In [136]:
final_df.rename(columns= {'index': 'id'}, inplace= True)

In [137]:
final_df

,id,text,label,dataset_type
0,0,Dừa lắm :)),0,train
1,1,Bấp bênh vl thế,1,train
2,2,Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...,1,train
3,3,Thấy chán ad page này kiến thức thì nông cản c...,1,train
4,4,Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa,0,train
...,...,...,...,...
76122,76122,"trong trường hợp này, theo ls. khanh, bà hằng...",0,test
76123,76123,bà cũng không ít lần chỉ trích nặng nề những ...,0,test
76124,76124,“bà nguyễn phương hằng có nhiều biểu hiện đã ...,0,test
76125,76125,vũ đức khanh nói. bà nguyễn phương hằng bắt đ...,0,test
76126,76126,".. trước khi bị bắt, bà nguyễn phương hằng đã ...",0,test

In [147]:
data1 = final_df[final_df['dataset_type'] == 'train']
data2 = final_df[(final_df['dataset_type'] == 'dev') | (final_df['dataset_type'] == 'test')]

In [148]:
data1

,id,text,label,dataset_type
0,0,Dừa lắm :)),0,train
1,1,Bấp bênh vl thế,1,train
2,2,Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...,1,train
3,3,Thấy chán ad page này kiến thức thì nông cản c...,1,train
4,4,Giang Giang Đỗ Thị Ngọc Hà trend mới kìa kìa,0,train
...,...,...,...,...
64109,64109,nh cho không ăn được luôn. cảnh báo: video có ...,0,train
64110,64110,dịp hiếm ngắm nhìn chim uyên ương khi du xuân ...,0,train
64111,64111,việt nam: rò rỉ tài liệu đảng cộng sản cảnh bá...,1,train
64112,64112,điều không thay đổi là sự kìm kẹp sắt đá của ...,1,train
64113,64113,được bộ chính trị việt nam ban hành vào tháng...,1,train

In [149]:
data2

,id,text,label,dataset_type
8844,8844,"Cs cha , Cs con , Rận cha, Rận con ...ai đúng ...",1,dev
8845,8845,Long Duy Đào cái tội ớ,0,dev
8846,8846,Nói gì tào lao kg,1,dev
8847,8847,Cc thầy eie,1,dev
8848,8848,Chả làm gì cũng có fan cứng =)),0,dev
...,...,...,...,...
76122,76122,"trong trường hợp này, theo ls. khanh, bà hằng...",0,test
76123,76123,bà cũng không ít lần chỉ trích nặng nề những ...,0,test
76124,76124,“bà nguyễn phương hằng có nhiều biểu hiện đã ...,0,test
76125,76125,vũ đức khanh nói. bà nguyễn phương hằng bắt đ...,0,test
76126,76126,".. trước khi bị bắt, bà nguyễn phương hằng đã ...",0,test

In [150]:
everage_length = len(final_df) // 2

In [151]:
extracted_data1 = data1.sample(n=everage_length - len(data2), random_state= 42)

In [152]:
extracted_data1

,id,text,label,dataset_type
14024,14024,đm bọn trung quốc chó,1,train
11501,11501,rách háng như chơi,0,train
33566,33566,Phạm Văn Lộc lộc idol 😂,0,train
59484,59484,mặc dù thường xuyên chia sẻ nội dung ủng hộ ch...,0,train
23761,23761,"Em lại va cơm men chi làm nhiều video nữa nha,...",0,train
...,...,...,...,...
32874,32874,Dung Junn khúc cuối thì đống chân như bạch tuộ...,0,train
45029,45029,Vậy thì chỉ cần 1 con thôi là đủ ăn cả đời nhỉ xD,0,train
25212,25212,Chương Nguyên mé 34 tuổi mà già ngang bà t nữa,0,train
58953,58953,sao nhí: teppy trần đăng khoa quán quân toàn n...,0,train
48426,48426,"Tôi ở Sài Gòn, Thương nhớ miền trung quê mẹ. M...",0,train

In [153]:
data2 = pd.concat([data2, extracted_data1], ignore_index= True)

In [155]:
data2

,id,text,label,dataset_type
0,8844,"Cs cha , Cs con , Rận cha, Rận con ...ai đúng ...",1,dev
1,8845,Long Duy Đào cái tội ớ,0,dev
2,8846,Nói gì tào lao kg,1,dev
3,8847,Cc thầy eie,1,dev
4,8848,Chả làm gì cũng có fan cứng =)),0,dev
...,...,...,...,...
38058,32874,Dung Junn khúc cuối thì đống chân như bạch tuộ...,0,train
38059,45029,Vậy thì chỉ cần 1 con thôi là đủ ăn cả đời nhỉ xD,0,train
38060,25212,Chương Nguyên mé 34 tuổi mà già ngang bà t nữa,0,train
38061,58953,sao nhí: teppy trần đăng khoa quán quân toàn n...,0,train
38062,48426,"Tôi ở Sài Gòn, Thương nhớ miền trung quê mẹ. M...",0,train

In [156]:
#eliminate extracted data from data1
data1 = data1.drop(extracted_data1.index)

In [157]:
data1

,id,text,label,dataset_type
0,0,Dừa lắm :)),0,train
2,2,Chắc cũng biết ko tồn tại đc bao lâu nữa nên c...,1,train
3,3,Thấy chán ad page này kiến thức thì nông cản c...,1,train
5,5,đcm 😒 sau có con cho hút cỏ chữa bệnh chứ đéo ...,1,train
8,8,Tăng theo giờ 😭😭😭,0,train
...,...,...,...,...
64109,64109,nh cho không ăn được luôn. cảnh báo: video có ...,0,train
64110,64110,dịp hiếm ngắm nhìn chim uyên ương khi du xuân ...,0,train
64111,64111,việt nam: rò rỉ tài liệu đảng cộng sản cảnh bá...,1,train
64112,64112,điều không thay đổi là sự kìm kẹp sắt đá của ...,1,train
64113,64113,được bộ chính trị việt nam ban hành vào tháng...,1,train

In [158]:
data1.to_csv('origin\\data1.csv', index= False)
data2.to_csv('origin\\data2.csv', index= False)

In [159]:
final_df.to_csv('origin\\final_df.csv', index= False)

In [167]:
data_100_sample = final_df.sample(n= 100, random_state= 42)

In [168]:
data_100_sample

,id,text,label,dataset_type
1641,1641,như 2 giọt nước :v,0,train
44005,44005,điều đó k quan trọng,0,test
73482,73482,"nhà hoạt động, blogger nguyễn chí tuyến hay cò...",0,test
49433,49433,S300 S400 giờ chắc sale of 50%,0,train
69223,69223,thế nên bảo vệ vượn vin chính là đang bảo vệ ...,1,dev
...,...,...,...,...
72217,72217,"cáo trạng xác định, có hơn 6.600 khách hàng đ...",0,test
33364,33364,Bố thằng ad ngu. Thế có cậu du học sinh việt c...,1,train
59393,59393,để có thể duy trì những bữa ăn học đường đa d...,0,train
40054,40054,Thịt gà kêu thịt chó kiáaa:(,0,test
57486,57486,ông phải cắn răng chịu nhớ chịu thương mà xa ...,0,train

In [170]:
data_100_sample.to_excel('origin\\data_100_sample.xlsx', index= False)